<%- include('layout/header')%>
<%- include('layout/navbar')%>
<%- include('layout/side-menu')%>

<div id="error">
    <div class="wrappar">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-12">
                    <div class="alert alert-danger">
                        <span>
                            <strong>Oops!</strong>
                            Something went wrong
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer')%>