<%- include('layout/header')%>
<%- include('layout/navbar')%>

<div id="login-page">
    <div class="wrappar" style="margin: 0; width: 100%">
        <div class="overlay">
        </div>
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="login-form">
                        <div class="logo">
                            <img src="/favicon-96x96.png" alt="">
                        </div>
                        <% if(authError){ %>
                            <div class="error">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Oops!</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <%= authError %>
                                </div>
                            </div>
                        <%}%>
                        <form action="/login" method="POST">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email">
                                <i class="fa fa-envelope"></i>
                            </div>
                            
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder="Password">
                                <i class="fa fa-lock"></i>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-block" value="Login">
                            </div>
                        </form>
                        <div class="forget">
                            <p>
                                <a href="#">Forgot your password or email?</a>
                                <input id="remember" type="checkbox" name="remember">
                                <label for="remember" class="remember-label">Remember me</label>
                            </p>
                            <p class="text-center">
                                <a href="/signup" class="btn btn-success btn-block create-u">Create account</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer')%>