@charset "UTF-8";
/*--- Start Variables ---*/
/*--- /end variables ---*/
/*-- Start Global --*/
*, html, body {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  /* background-image: url(/shop-bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

.dropdown-menu a,
.dropdown-menu a:hover {
  color: #333 !important;
}

.alert {
  border-radius: 0;
  border: none;
  border-left: 4px solid;
  font-size: 15px;
}

.alert-dismissible .close {
  padding: 0.45rem 1.25rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 152, 253, 0.5);
}

/*-- /end global --*/
/*-- Start Navbar --*/
@media (min-width: 992px) {
  .navbar .nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
}
.navbar {
  background-color: #09213c;
  color: #fff;
  width: calc(100% - 250px);
  height: 55px;
  margin-left: 250px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  box-shadow: 7px 0px 10px #949393;
}
.navbar a {
  color: #fff;
  text-decoration: none;
}
.navbar a:hover {
  color: #fff;
  text-decoration: none;
}
.navbar .page-name p {
  margin: 0;
}
.navbar .nav .nav-items {
  display: flex;
  margin: 0;
  width: 95%;
}
.navbar .nav .nav-items .search {
  width: 100%;
}
.navbar .nav .nav-items .search .search-form .form-group {
  position: relative;
  margin: 0;
  display: flex;
}
.navbar .nav .nav-items .search .search-form .form-group input {
  background-color: #12244ee2;
  border: transparent;
  border-radius: 0;
}
.navbar .nav .nav-items .search .search-form .form-group .btn-search {
  position: absolute;
  top: calc((100% - 30px) / 2);
  right: 5px;
  border: none;
  background-color: #12244e;
  color: #6c757d;
}
.navbar .nav .right {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .navbar .nav .right {
    display: block !important;
    width: 100%;
  }
}
/*-- /end navbar --*/
/*-- Start Pages --*/
.wrappar {
  padding: 2rem;
  min-height: 811px;
  width: calc(100% - 250px);
  margin-left: 250px;
  margin-top: 55px;
}
.wrappar .container {
  background-color: #fff;
  padding-top: 20px;
  margin-bottom: 20px;
}

.empty-alert {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  padding: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.empty-alert .empty-icon {
  width: 150px;
  height: 150px;
}
.empty-alert .empty-icon img {
  width: 100%;
  height: 100%;
}

.cart-form .form-group,
#filter-form .form-group {
  position: relative;
}

.cart-form .form-group i.fa-shopping-cart,
.cart-form .form-group i.fa-filter,
#filter-form .form-group i.fa-shopping-cart,
#filter-form .form-group i.fa-filter {
  position: absolute;
  top: 11px;
  right: 43%;
  color: #fff;
}
.cart-form .form-group i.fa-shopping-cart,
#filter-form .form-group i.fa-shopping-cart {
  right: 30%;
}
.cart-form .form-group.added i.fa-shopping-cart,
#filter-form .form-group.added i.fa-shopping-cart {
  right: 25%;
  color: #333;
}
.cart-form .form-group.added input:hover,
#filter-form .form-group.added input:hover {
  cursor: not-allowed;
}

.p-img {
  width: 100%;
  height: 200px;
}
.p-img img {
  width: 100%;
  height: 100%;
}

.title a {
  color: #333;
  text-decoration: none;
}

.card-header p {
  margin: 0;
}

.desc {
  padding: 15px 0;
}
.desc p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
.desc p.show {
  white-space: normal;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  padding: 5px;
}

/*-- Start Product Page --*/
.product .image {
  height: 438px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
}
.product .image img {
  width: 100%;
  height: 100%;
}
.product .product-info {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
}
.product .product-info p.price {
  display: flex;
  justify-content: flex-end;
}

/*-- /end product page --*/
/*-- Start Auth Pages --*/
#login-page,
#signup-page {
  position: relative;
  background-image: url("/shop-bg-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 947px;
}
#login-page .container,
#signup-page .container {
  background-color: transparent;
}

.signup-form,
.login-form {
  width: 400px;
  margin: 10% auto;
  background-color: rgba(255, 255, 255, 0.76);
  padding: 20px;
  box-shadow: -1px 16px 10px #297eaf63;
  border-bottom: 2px solid #3480c5;
  position: relative;
}
.signup-form .logo,
.login-form .logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: calc((100% - 100px)/2);
  border-radius: 50%;
}
.signup-form .logo img,
.login-form .logo img {
  width: 100%;
  height: 100%;
}

.login-form {
  padding-top: 60px;
}

.signup-form .form-group,
.login-form .form-group {
  position: relative;
}

.signup-form .form-group:not(:last-of-type) input,
.login-form .form-group:not(:last-of-type) input {
  padding: 20px 35px;
  border-radius: 0;
}

.login-form .form-group:last-of-type input,
.signup-form .form-group:last-of-type input {
  border-radius: 0;
}

.signup-form .form-group i.fa,
.login-form .form-group i.fa {
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: 20px;
  color: #aaa;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forget p .create-u {
  border-radius: 0;
}
.forget p:first-of-type {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.forget p:last-of-type {
  margin: 0;
}

#remember {
  display: none;
}
#remember ::checked + label ::before {
  content: "";
  color: #fff;
  background-color: #007bff;
  font-family: fontAwesome;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.remember-label {
  margin: 0;
  padding-right: 18px;
}
.remember-label::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: calc((100% - 8px) / 3);
  right: 0;
  border: 2px solid #007bff;
  border-radius: 3px;
}

.signup-with {
  position: relative;
}
.signup-with .hr-before {
  background-color: #fff;
  position: absolute;
  top: -13px;
  right: calc((100% - 88px) / 2);
  font-size: 11px;
  padding: 5px 14px;
}

.apis ul li:last-of-type {
  background-color: red;
}

.apis ul {
  margin-bottom: 0;
}
.apis ul li {
  background-color: #007bff;
  margin-bottom: 5px;
  opacity: 0.6;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.apis ul li:last-of-type {
  background-color: #ea4335;
  margin-bottom: 0;
}
.apis ul li:hover {
  opacity: 1;
}
.apis ul li a {
  color: #fff;
  text-decoration: none;
}
.apis ul li a p {
  margin: 0;
  display: flex;
  align-items: center;
}
.apis ul li a p i {
  padding: 15px;
  border-right: 1px solid #ddd;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apis ul li a p span {
  padding: 10px;
}

.logout-form {
  position: relative;
}
.logout-form input {
  padding-left: 45px;
}
.logout-form i {
  position: absolute;
  top: 9px;
  left: 25px;
}

/*-- /end auth pages --*/
/*-- /end pages --*/
/*-- Start Footer --*/
.footer {
  width: calc(100% - $menu_width);
  margin-left: 250px;
  background-color: #09213c;
  padding: 20px;
}

.footer .copyright {
  height: 100%;
  display: flex;
  align-items: center;
}
.footer .copyright p {
  margin: 0;
  color: #fff;
}
.footer .copyright p .fa-heart {
  color: #f55e5e;
  animation: heart 1s linear infinite;
}
.footer .copyright p .dev-name {
  color: #aaa;
  text-decoration: none;
}
.footer .social {
  display: flex;
  justify-content: flex-end;
}
.footer .social ul.links {
  margin: 0;
  display: flex;
}
.footer .social ul.links li {
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .social ul.links li a {
  color: #fff;
  font-size: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.footer .social ul.links li a i.fa {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer .social ul.links li a i.fa:last-of-type {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer .social ul.links li a i.fa:first-of-type {
  background-color: red;
  top: -40px;
}
.footer .social ul.links li:hover a i.fa:first-of-type {
  top: 0;
}
.footer .social ul.links li:hover a i.fa:last-of-type {
  top: 40px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer .social ul.links li:hover a i:first-of-type.fa-facebook {
  background-color: #1877f2;
}
.footer .social ul.links li:hover a i:first-of-type.fa-twitter {
  background-color: #1da1f2;
}
.footer .social ul.links li:hover a i:first-of-type.fa-github {
  background-color: #000000;
}
.footer .social ul.links li:hover a i:first-of-type.fa-linkedin {
  background-color: #007bb5;
}

/*-- /end footer --*/
/*-- Start Side-Menu --*/
.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #09213c;
  box-shadow: 0 0 10px #6d6d6d78;
}
.side-menu .brand h4 {
  margin: 0;
}
.side-menu .brand .navbar-brand {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 0;
  box-shadow: 0 0 10px #6d6d6d78;
}
.side-menu .menu .nav-item {
  padding: 10px;
  border-bottom: 1px solid #09235f;
}
.side-menu .menu .nav-item a {
  color: #fff;
  text-decoration: none;
}
.side-menu .menu .nav-item a p {
  margin: 0;
}
.side-menu .menu .nav-item::first-of-type {
  border-top: #09235f !important;
}

/*-- /end side-menu --*/
/*-- Start Cart Modal --*/
.cart-modal {
  position: fixed;
  width: 70px;
  height: 70px;
  background-color: #ffa500;
  box-shadow: 0 0 10px #656565e6;
  bottom: 10%;
  right: 2%;
  z-index: 5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-modal .number {
  position: absolute;
  top: 0px;
  right: 5px;
  border-radius: 50%;
}
.cart-modal i {
  font-size: 30px;
  color: #fff;
}

/*-- /end cart modal --*/
.item {
  background-color: #fff;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  height: 200px;
  box-shadow: 1px 2px 25px #afafafab;
  border-bottom: 2px solid #ddd;
  border-radius: 10px;
}
.item .item-img {
  width: 20%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
  width: 20%;
  height: 100%;
}
.item .item-img img {
  width: 100%;
  height: 100%;
}
.item .item-desc {
  padding: 1rem 2rem;
  width: 80%;
}
.item .item-desc p {
  margin: 0;
}
.item .count-items {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}
.item .count-items .count-field {
  padding: 2rem;
  display: flex;
}
.item .count-items .count-field button {
  background-color: transparent;
  border: 1px solid #ddd;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.item .count-items .count-field button:first-of-type {
  border-right: none;
  background-color: #3fcd32;
  border: 1px solid #3fcd32;
  border-radius: 10px 0 0 10px;
}
.item .count-items .count-field button:last-of-type {
  border-left: none;
  background-color: #a51010;
  border: 1px solid #a51010;
  border-radius: 0 10px 10px 0;
}
.item .count-items .count-field button:focus {
  box-shadow: none;
  outline: 0;
}
.item .count-items .count-field input.count {
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-weight: bold;
}
.item .count-items .count-field button,
.item .count-items .count-field input.count {
  padding: 5px 10px;
}
.item .btn-options {
  position: relative;
}
.item .btn-options .btns {
  position: absolute;
  top: calc((100% - 86px) / 2);
  right: -20px;
}
.item .btn-options .btns .btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 10px #adadadf2;
}
.item .btn-options .btns .btn:first-of-type {
  margin-bottom: 5px;
}

/*-- Start Cart Page --*/
/*-- /end cart page --*/
.active {
  background-color: #12244e;
}

@keyframes heart {
  0% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.1);
  }
}

/*# sourceMappingURL=app.css.map */
