/*-- Start Global --*/

*, html, body{
    box-sizing: border-box;
}

body{
    background-color: #f7f7f7;
}

.navbar a{
    color: #fff;
    text-decoration: none;
}

.dropdown-menu a,
.dropdown-menu a:hover{
    color: #333 !important;
}

.navbar a:hover{
    color: #fff;
    text-decoration: none;
}

/*-- /end global --*/


/*-- Start Navbar --*/

.navbar{
    background-color: #09183c;
    color: #fff;
}

@media (min-width: 992px){
    .navbar .nav{
        width: 90%;
        display: flex;
        justify-content: space-around;
    } 
}

.navbar .nav .nav-items{
    display: flex;
    margin: 0;
}

.navbar .nav .right{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 991px){
    .navbar .nav .right{
        display: block !important;
        width: 100%;
    }
}

/*-- /end navbar --*/

/*-- Start Pages --*/

.wrappar{
    padding: 2rem;
    min-height: 811px;
}

.empty-alert{
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.empty-alert .empty-icon{
    width: 150px;
    height: 150px;
}

.empty-alert .empty-icon img{
    width: 100%;
    height: 100%;
}

.cart-form .form-group,
#filter-form .form-group{
    position: relative;
}

.cart-form .form-group i.fa-shopping-cart,
#filter-form .form-group i.fa-filter{
    position: absolute;
    top: 11px;
    right: 43%;
    color: #fff;
}

.cart-form .form-group i.fa-shopping-cart{
    right: 30%;
}

.cart-form .form-group.added i.fa-shopping-cart{
    right: 25%;
    color: #333;
}

.cart-form .form-group.added input:hover{
    cursor: not-allowed;
}

.p-img{
    width: 100%;
    height: 200px;
}

.p-img img{
    width: 100%;
    height: 100%;
}

.title a{
    color: #333;
    text-decoration: none;
}

.card-header p{
    margin: 0;
}

.desc{
    padding: 15px 0;
}

.desc p{
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.desc p.show{
    white-space: normal;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    padding: 5px;
}

/*-- Start Product Page --*/
.product .image{
    height: 438px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
}

.product .image img{
    width: 100%;
    height: 100%;
}

.product .product-info{
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
}

.product .product-info p.price{
    display: flex;
    justify-content: flex-end;
}

/*-- /end product page --*/

/*-- Start Auth Pages --*/

.signup-form,
.login-form{
    width: 400px;
    margin: 10% auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: -1px 16px 10px #d2d2d263;
}

.signup-form .form-group,
.login-form .form-group{
    position: relative;
}

.signup-form .form-group:not(:last-of-type) input,
.login-form .form-group:not(:last-of-type) input{
    padding: 20px 35px;
    border-radius: 0;
}

.login-form .form-group:last-of-type input,
.signup-form .form-group:last-of-type input{
    border-radius: 0;
}

.signup-form .form-group i.fa,
.login-form .form-group i.fa{
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 20px;
    color: #aaa;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forget p{
    position: relative;
    margin: 0;
}

#remember{
    display: none;
}

.remember-label::before{
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: calc((100% - 15px) / 3);
    right: 0;
    border: 1px solid #007bff;
    border-radius: 3px;
}

#remember:checked + label::before{
    content: "\f00c";
    color: #fff;
    background-color: #007bff;
    font-family: fontAwesome;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-- /end auth pages --*/

/*-- /end pages --*/

/*-- Start Footer --*/
.footer{
    width: 100%;
    background-color: #09183c;
    padding: 20px;
}

.footer .copyright p{
    margin: 0;
    color: #fff;
}

.footer .copyright{
    height: 100%;
    display: flex;
    align-items: center;
}

.footer .copyright p .fa-heart{
    color: rgb(245, 94, 94);
    animation: heart 1s linear infinite;
}

.footer .copyright p .dev-name{
    color: #aaa;
    text-decoration: none;
}

.footer .social{
    display: flex;
    justify-content: flex-end;
}

.footer ul.links{
    margin: 0;
    display: flex;
}

.footer ul.links li{
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer ul.links li a{
    color: #fff;
    font-size: 20px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.footer ul.links li a i.fa{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.footer ul.links li a i.fa:first-of-type{
    background-color: red;
    top: -40px;
}

.footer ul.links li:hover a i.fa:first-of-type{
    top: 0;
}
.footer ul.links li:hover a i.fa:last-of-type{
    top: 40px;
}
.footer ul.links li a i:first-of-type.fa-facebook{
    background-color: #1877f2;
}

.footer ul.links li a i:first-of-type.fa-twitter{
    background-color: #1da1f2;
}

.footer ul.links li a i:first-of-type.fa-github{
    background-color: #000000;
}

.footer ul.links li a i:first-of-type.fa-linkedin{
    background-color: #007bb5;
}
/*-- /end footer --*/

@keyframes heart {
    0% { transform: scale(1.1); }
    25% { transform: scale(1.1); }
    50% { transform: scale(1.4); }
    75% { transform: scale(1.1); }
    100% { transform: scale(1.1); }
}