<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online shop</title>

    <!-- Bootstrap File -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Font-awesome-->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- Favicon -->
    <!-- <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"> -->
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> -->

    <!-- File Style -->
    <link rel="stylesheet" href="/css/app.css">

</head>
<body>
    <!-- Start Cart Modal -->
    <%if(isUser){%>
    <div class="cart-modal btn btn-warning">
        <span class="badge badge-danger number">
            <% if(items){ %>
                <%- items.length %>
            <% }else{ %>
                0
            <% } %>
        </span>
        <i class="fa fa-shopping-cart"></i>
    </div>
    <%}%>
    <!-- /end cart modal -->