<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>First Project Node</title>

    <!-- Bootstrap File -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Font-awesome-->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- File Style -->
    <link rel="stylesheet" href="/css/app.css">

</head>
<body>
    <!-- Start Cart Modal -->
    <div class="cart-modal">
        <span class="badge badge-danger number">
            <% if(items){ %>
                <%- items.length %>
            <% }else{ %>
                0
            <% } %>
        </span>
        <i class="fa fa-shopping-cart"></i>
    </div>
    <!-- /end cart modal -->