<!-- Start Navbar -->
<%if(isUser){%>
<nav class="navbar navbar-expand-lg">
    <div class="container"><a class="navbar-brand" href="/">Node Test</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>
        <div class="nav collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav list-unstyled nav-items">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="fa fa-home"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/cart" class="nav-link">
                        <i class="fa fa-shopping-cart"></i>
                        Cart
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/orders" class="nav-link">
                        <i class="fa fa-shopping-bag"></i>
                        Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/items" class="nav-link">
                        <i class="fa fa-list-ul"></i>
                        Items
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/add" class="nav-link">
                        <i class="fa fa-list-ul"></i>
                        Add Product
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/members" class="nav-link">
                        <i class="fa fa-users"></i>
                        Members
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav list-unstyled right">
                <li class="nav-item dropdown">
                    <a class="nav-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/profile">
                            <i class="fa fa-user"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="/setting">
                            <i class="fa fa-cog"></i>
                            Setting
                        </a>
                        <div class="dropdown-divider"></div>
                        <form class="logout-form" action="/logout" method="POST">
                            <input type="submit" value="Logout" class="dropdown-item">
                            <i class="fa fa-sign-out"></i>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<%}%>
<!-- /end navbar -->