<!-- Start Navbar -->
<%if(isUser){%>
<nav class="navbar navbar-expand-lg">
        <div class="page-name">
                <p>
                    <%= pageTitle %>
                </p>
            </div>
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
        </button>
        <div class="nav collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav list-unstyled nav-items">
                <li class="search">
                    <form class="search-form" action="">
                        <div class="form-group">
                            <input type="search" class="form-control" placeholder="Search">
                            <button class="btn-search">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav list-unstyled right">
                <li class="nav-item dropdown">
                    <a class="nav-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/profile">
                            <i class="fa fa-user"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="/setting">
                            <i class="fa fa-cog"></i>
                            Setting
                        </a>
                        <div class="dropdown-divider"></div>
                        <form class="logout-form" action="/logout" method="POST">
                            <input type="submit" value="Logout" class="dropdown-item">
                            <i class="fa fa-sign-out"></i>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<%}%>
<!-- /end navbar -->